# Snippet for typewriting font
snippet tt "The \texttt{} command for typewriter-style font"
\texttt{$1}$0
endsnippet

# Snippet for fractions
snippet ff "The LaTeX \frac{}{} command"
\frac{$1}{$2}$0
endsnippet

# Snippet for fractions
snippet ve "The LaTeX \vec{} command"
\vec{$1}$0
endsnippet



# Snippet for function
snippet fu "The LaTeX for function f:X \to Y"
$1: $2 \to $2$0
endsnippet


# Snippet for $ $ 
snippet mm "The LaTeX for math mode"
\$ $1 \$ $0
endsnippet



# Snippet for $$ $$ 
snippet md "The LaTeX for display math mode"
\$\$ $1 \$\$ $0
endsnippet


# Snippet for  Definition environment
snippet end "The Latex for Definition environment"
\begin{defn}
$1
\end{defn}$0
endsnippet


# Snippet for enumerate environment
snippet ene "The Latex for enumerate environment"
\begin{enumerate}
$1
\end{enumerate}$0
endsnippet

# Snippet for itemize environment
snippet eni "The Latex for itemize environment"
\begin{itemize}
$1
\end{itemize}$0
endsnippet

# Snippet for $$ $$ 
snippet set "The Latex for set notation{}"
\\\{ $1 \\\}$0
endsnippet


# Snippet for generic environment
snippet ee "The Latex for a new generic environement"
\begin{$1}
$2
\end{$1}
$0
endsnippet

# Snippet for definite integral
snippet ii "The Latex command for a definite integral"
\int_{$1}^{$2} $4  d$3 $0
endsnippet

# Snippet for summation
snippet sum "The Latex for new summation" 
\sum_{$1}^{$2}$3 $0
endsnippet

