# Snippet for typewriting font
snippet tt "The \texttt{} command for typewriter-style font"
\texttt{$1}$0
endsnippet

# Snippet for fractions
snippet ff "The LaTeX \frac{}{} command"
\frac{$1}{$2}$0
endsnippet

# Snippet for fractions
snippet ve "The LaTeX \vec{} command"
\vec{$1}$0
endsnippet



# Snippet for function
snippet fu "The LaTeX for function f:X \to Y"
$1: $2 \to $2$0
endsnippet


# Snippet for $ $ 
snippet mm "The LaTeX for math mode"
\$ $1 \$ $0
endsnippet



# Snippet for $$ $$ 
snippet dm "The LaTeX for display math mode"
\$\$ $1 \$\$ $0
endsnippet
